*.aux
*.log
References/BT_final_report.pdf
References/Behavior-Trees-Paper.pdf
References/Behavior-Trees-in-Robotics-and-AI.pdf
References/Software_Architecture_AERIAL_CORE.pdf
aux/*
.vscode/*
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.gz
